{% extends 'ag_menu.html.twig' %}

{% block menu %}

<li class="treeview {% if option is defined and (option == 'article_list' or option == 'article_create' or option == 'article_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>article</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'article_list' %}class="active"{% endif %}><a href="{{ path('article_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'article_create' %}class="active"{% endif %}><a href="{{ path('article_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'article_attachment_list' or option == 'article_attachment_create' or option == 'article_attachment_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>article_attachment</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'article_attachment_list' %}class="active"{% endif %}><a href="{{ path('article_attachment_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'article_attachment_create' %}class="active"{% endif %}><a href="{{ path('article_attachment_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'article_category_list' or option == 'article_category_create' or option == 'article_category_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>article_category</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'article_category_list' %}class="active"{% endif %}><a href="{{ path('article_category_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'article_category_create' %}class="active"{% endif %}><a href="{{ path('article_category_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'assets_list' or option == 'assets_create' or option == 'assets_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>assets</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'assets_list' %}class="active"{% endif %}><a href="{{ path('assets_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'assets_create' %}class="active"{% endif %}><a href="{{ path('assets_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'attendance_list' or option == 'attendance_create' or option == 'attendance_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>attendance</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'attendance_list' %}class="active"{% endif %}><a href="{{ path('attendance_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'attendance_create' %}class="active"{% endif %}><a href="{{ path('attendance_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'city_list' or option == 'city_create' or option == 'city_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>city</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'city_list' %}class="active"{% endif %}><a href="{{ path('city_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'city_create' %}class="active"{% endif %}><a href="{{ path('city_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'contacts_list' or option == 'contacts_create' or option == 'contacts_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>contacts</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'contacts_list' %}class="active"{% endif %}><a href="{{ path('contacts_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'contacts_create' %}class="active"{% endif %}><a href="{{ path('contacts_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'country_list' or option == 'country_create' or option == 'country_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>country</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'country_list' %}class="active"{% endif %}><a href="{{ path('country_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'country_create' %}class="active"{% endif %}><a href="{{ path('country_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'employee_employer_list' or option == 'employee_employer_create' or option == 'employee_employer_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>employee_employer</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'employee_employer_list' %}class="active"{% endif %}><a href="{{ path('employee_employer_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'employee_employer_create' %}class="active"{% endif %}><a href="{{ path('employee_employer_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'employee_profile_list' or option == 'employee_profile_create' or option == 'employee_profile_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>employee_profile</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'employee_profile_list' %}class="active"{% endif %}><a href="{{ path('employee_profile_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'employee_profile_create' %}class="active"{% endif %}><a href="{{ path('employee_profile_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'employee_qualification_list' or option == 'employee_qualification_create' or option == 'employee_qualification_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>employee_qualification</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'employee_qualification_list' %}class="active"{% endif %}><a href="{{ path('employee_qualification_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'employee_qualification_create' %}class="active"{% endif %}><a href="{{ path('employee_qualification_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'employee_salary_list' or option == 'employee_salary_create' or option == 'employee_salary_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>employee_salary</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'employee_salary_list' %}class="active"{% endif %}><a href="{{ path('employee_salary_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'employee_salary_create' %}class="active"{% endif %}><a href="{{ path('employee_salary_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'employee_status_list' or option == 'employee_status_create' or option == 'employee_status_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>employee_status</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'employee_status_list' %}class="active"{% endif %}><a href="{{ path('employee_status_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'employee_status_create' %}class="active"{% endif %}><a href="{{ path('employee_status_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'expense_list' or option == 'expense_create' or option == 'expense_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>expense</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'expense_list' %}class="active"{% endif %}><a href="{{ path('expense_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'expense_create' %}class="active"{% endif %}><a href="{{ path('expense_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'expense_type_list' or option == 'expense_type_create' or option == 'expense_type_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>expense_type</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'expense_type_list' %}class="active"{% endif %}><a href="{{ path('expense_type_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'expense_type_create' %}class="active"{% endif %}><a href="{{ path('expense_type_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'file_storage_item_list' or option == 'file_storage_item_create' or option == 'file_storage_item_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>file_storage_item</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'file_storage_item_list' %}class="active"{% endif %}><a href="{{ path('file_storage_item_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'file_storage_item_create' %}class="active"{% endif %}><a href="{{ path('file_storage_item_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'i18n_source_message_list' or option == 'i18n_source_message_create' or option == 'i18n_source_message_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>i18n_source_message</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'i18n_source_message_list' %}class="active"{% endif %}><a href="{{ path('i18n_source_message_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'i18n_source_message_create' %}class="active"{% endif %}><a href="{{ path('i18n_source_message_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'key_storage_item_list' or option == 'key_storage_item_create' or option == 'key_storage_item_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>key_storage_item</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'key_storage_item_list' %}class="active"{% endif %}><a href="{{ path('key_storage_item_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'key_storage_item_create' %}class="active"{% endif %}><a href="{{ path('key_storage_item_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'page_list' or option == 'page_create' or option == 'page_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>page</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'page_list' %}class="active"{% endif %}><a href="{{ path('page_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'page_create' %}class="active"{% endif %}><a href="{{ path('page_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'qualification_list' or option == 'qualification_create' or option == 'qualification_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>qualification</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'qualification_list' %}class="active"{% endif %}><a href="{{ path('qualification_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'qualification_create' %}class="active"{% endif %}><a href="{{ path('qualification_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'rbac_auth_item_list' or option == 'rbac_auth_item_create' or option == 'rbac_auth_item_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>rbac_auth_item</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'rbac_auth_item_list' %}class="active"{% endif %}><a href="{{ path('rbac_auth_item_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'rbac_auth_item_create' %}class="active"{% endif %}><a href="{{ path('rbac_auth_item_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'rbac_auth_rule_list' or option == 'rbac_auth_rule_create' or option == 'rbac_auth_rule_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>rbac_auth_rule</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'rbac_auth_rule_list' %}class="active"{% endif %}><a href="{{ path('rbac_auth_rule_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'rbac_auth_rule_create' %}class="active"{% endif %}><a href="{{ path('rbac_auth_rule_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'state_list' or option == 'state_create' or option == 'state_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>state</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'state_list' %}class="active"{% endif %}><a href="{{ path('state_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'state_create' %}class="active"{% endif %}><a href="{{ path('state_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'system_db_migration_list' or option == 'system_db_migration_create' or option == 'system_db_migration_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>system_db_migration</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'system_db_migration_list' %}class="active"{% endif %}><a href="{{ path('system_db_migration_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'system_db_migration_create' %}class="active"{% endif %}><a href="{{ path('system_db_migration_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'system_log_list' or option == 'system_log_create' or option == 'system_log_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>system_log</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'system_log_list' %}class="active"{% endif %}><a href="{{ path('system_log_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'system_log_create' %}class="active"{% endif %}><a href="{{ path('system_log_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'system_rbac_migration_list' or option == 'system_rbac_migration_create' or option == 'system_rbac_migration_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>system_rbac_migration</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'system_rbac_migration_list' %}class="active"{% endif %}><a href="{{ path('system_rbac_migration_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'system_rbac_migration_create' %}class="active"{% endif %}><a href="{{ path('system_rbac_migration_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'timeline_event_list' or option == 'timeline_event_create' or option == 'timeline_event_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>timeline_event</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'timeline_event_list' %}class="active"{% endif %}><a href="{{ path('timeline_event_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'timeline_event_create' %}class="active"{% endif %}><a href="{{ path('timeline_event_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'user_list' or option == 'user_create' or option == 'user_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>user</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'user_list' %}class="active"{% endif %}><a href="{{ path('user_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'user_create' %}class="active"{% endif %}><a href="{{ path('user_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'user_profile_list' or option == 'user_profile_create' or option == 'user_profile_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>user_profile</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'user_profile_list' %}class="active"{% endif %}><a href="{{ path('user_profile_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'user_profile_create' %}class="active"{% endif %}><a href="{{ path('user_profile_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'user_token_list' or option == 'user_token_create' or option == 'user_token_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>user_token</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'user_token_list' %}class="active"{% endif %}><a href="{{ path('user_token_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'user_token_create' %}class="active"{% endif %}><a href="{{ path('user_token_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'widget_carousel_list' or option == 'widget_carousel_create' or option == 'widget_carousel_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>widget_carousel</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'widget_carousel_list' %}class="active"{% endif %}><a href="{{ path('widget_carousel_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'widget_carousel_create' %}class="active"{% endif %}><a href="{{ path('widget_carousel_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'widget_carousel_item_list' or option == 'widget_carousel_item_create' or option == 'widget_carousel_item_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>widget_carousel_item</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'widget_carousel_item_list' %}class="active"{% endif %}><a href="{{ path('widget_carousel_item_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'widget_carousel_item_create' %}class="active"{% endif %}><a href="{{ path('widget_carousel_item_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'widget_menu_list' or option == 'widget_menu_create' or option == 'widget_menu_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>widget_menu</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'widget_menu_list' %}class="active"{% endif %}><a href="{{ path('widget_menu_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'widget_menu_create' %}class="active"{% endif %}><a href="{{ path('widget_menu_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'widget_text_list' or option == 'widget_text_create' or option == 'widget_text_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>widget_text</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'widget_text_list' %}class="active"{% endif %}><a href="{{ path('widget_text_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'widget_text_create' %}class="active"{% endif %}><a href="{{ path('widget_text_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>



{% endblock %}